
.body-background {
	background-size: cover;
	display: block;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: -1;	
}

.carousel-item {
	text-align: center;
}